body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  background-image: url(2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.memory-game {
  width: 440px;
  height: 440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  perspective: 1000px;
}

.memory-card {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

#reset-btn {
  font-size: 18px;
  background-color: rgba(105, 1, 1, 0.75);
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 25px;
  font-weight: bold;
}

#reset-btn:hover {
  background-color: #ff1c1c;
  transform: scale(1.05);
}


